@{
    ViewData["Title"] = "Hem";
}

@section styles{
    <link rel="stylesheet" href="~/css/landing-page.css">
}

<link rel="stylesheet" href="style.css">

<section class="hero">
    <h1 class="hero-title">Välkommen till Westcoast Education</h1>
</section>