@model IList<westcoast_education.web.ViewModels.StudentListViewModel>
@{
    ViewData["Title"] = "studenter";
}

<section class="hero">
    <div>
        <h2>// Alla Studenter</h2>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>&lt;Namn&gt;</th>
                    <th>&lt;Epost&gt;</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr>
                        <td></td>
                        <td><a class="links" asp-action="details" asp-route-studentId="@student.Id">@student.Name</a></td>
                        <td>@student.Email</td>
                        <td></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tfoot>
        </table>
    </div>
</section>